<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grupoUsuarios">
            <h2><span jhiTranslate="gestionEmpleadosApp.grupoUsuarios.detail.title">Grupo Usuarios</span> {{ grupoUsuarios.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEmpleadosApp.grupoUsuarios.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ grupoUsuarios.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.grupoUsuarios.usuario">Usuario</span></dt>
                <dd>
                    <div *ngIf="grupoUsuarios.usuario">
                        <a [routerLink]="['/usuarios', grupoUsuarios.usuario?.id, 'view']">{{ grupoUsuarios.usuario?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.grupoUsuarios.grupo">Grupo</span></dt>
                <dd>
                    <div *ngIf="grupoUsuarios.grupo">
                        <a [routerLink]="['/grupos', grupoUsuarios.grupo?.id, 'view']">{{ grupoUsuarios.grupo?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grupo-usuarios', grupoUsuarios.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
