<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-empresas-heading" jhiTranslate="gestionEmpleadosApp.empresas.home.createOrEditLabel">Create or edit a Empresas</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empresas.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empresas.direccion" for="field_direccion">Direccion</label>
                    <select class="form-control" id="field_direccion" name="direccion" formControlName="direccion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoDireccionOption.id === editForm.get('direccion')!.value?.id ? editForm.get('direccion')!.value : tipoDireccionOption" *ngFor="let tipoDireccionOption of tipodireccions; trackBy: trackById">{{ tipoDireccionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empresas.contacto" for="field_contacto">Contacto</label>
                    <select class="form-control" id="field_contacto" name="contacto" formControlName="contacto">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoContactosOption.id === editForm.get('contacto')!.value?.id ? editForm.get('contacto')!.value : tipoContactosOption" *ngFor="let tipoContactosOption of tipocontactos; trackBy: trackById">{{ tipoContactosOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empresas.estado" for="field_estado">Estado</label>
                    <select class="form-control" id="field_estado" name="estado" formControlName="estado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estadosOption.id === editForm.get('estado')!.value?.id ? editForm.get('estado')!.value : estadosOption" *ngFor="let estadosOption of estados; trackBy: trackById">{{ estadosOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
