<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionEmpleadosApp.tipoDireccion.home.title">Tipo Direccions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-direccion" [routerLink]="['/tipo-direccion/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionEmpleadosApp.tipoDireccion.home.createLabel">
            Create a new Tipo Direccion
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tipoDireccions?.length === 0">
        <span jhiTranslate="gestionEmpleadosApp.tipoDireccion.home.notFound">No tipoDireccions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tipoDireccions && tipoDireccions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionEmpleadosApp.tipoDireccion.descripcion">Descripcion</span></th>
                    <th scope="col" ><span jhiTranslate="gestionEmpleadosApp.tipoDireccion.direccion">Direccion</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoDireccion of tipoDireccions ;trackBy: trackId">
                    <td><a [routerLink]="['/tipo-direccion', tipoDireccion.id, 'view']">{{ tipoDireccion.id }}</a></td>
                    <td>{{ tipoDireccion.descripcion }}</td>
                    <td>
                        <div *ngIf="tipoDireccion.direccion">
                            <a [routerLink]="['/direcciones', tipoDireccion.direccion?.id, 'view']" >{{ tipoDireccion.direccion?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tipo-direccion', tipoDireccion.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tipo-direccion', tipoDireccion.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tipoDireccion)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
