<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoDocumentos">
            <h2><span jhiTranslate="gestionEmpleadosApp.tipoDocumentos.detail.title">Tipo Documentos</span> {{ tipoDocumentos.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEmpleadosApp.tipoDocumentos.tipo">Tipo</span></dt>
                <dd>
                    <span>{{ tipoDocumentos.tipo }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-documentos', tipoDocumentos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
