#col--card {
  display: block;
  margin-left: 6%;
  margin-top: 3%;
}

#card--sugerencia {
  display: block;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
}
.card-header {
  background-color: #15967d;
}
.card-title,
#fecha--sugerencia {
  text-align: center;
  color: white;
}

.card-text {
  color: #1c2833;
  font-family: 'Alata', sans-serif;
}
#check--img {
  width: 37px;
  height: 37px;
}

#check--text {
  color: white;
  font-family: 'Alata', sans-serif;
}
#visto--eye:hover {
  cursor: pointer;
}

#cross--sugerencia {
  margin-left: 5%;
}

#cross--sugerencia:hover {
  cursor: pointer;
}
