<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionEmpleadosApp.permisosGrupos.home.title">Permisos Grupos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-permisos-grupos" [routerLink]="['/permisos-grupos/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionEmpleadosApp.permisosGrupos.home.createLabel">
            Create a new Permisos Grupos
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="permisosGrupos?.length === 0">
        <span jhiTranslate="gestionEmpleadosApp.permisosGrupos.home.notFound">No permisosGrupos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="permisosGrupos && permisosGrupos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionEmpleadosApp.permisosGrupos.nombre">Nombre</span></th>
                    <th scope="col" ><span jhiTranslate="gestionEmpleadosApp.permisosGrupos.permiso">Permiso</span></th>
                    <th scope="col" ><span jhiTranslate="gestionEmpleadosApp.permisosGrupos.grupos">Grupos</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let permisosGrupos of permisosGrupos ;trackBy: trackId">
                    <td><a [routerLink]="['/permisos-grupos', permisosGrupos.id, 'view']">{{ permisosGrupos.id }}</a></td>
                    <td>{{ permisosGrupos.nombre }}</td>
                    <td>
                        <div *ngIf="permisosGrupos.permiso">
                            <a [routerLink]="['/permisos', permisosGrupos.permiso?.id, 'view']" >{{ permisosGrupos.permiso?.nombre }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="permisosGrupos.grupos">
                            <a [routerLink]="['/grupos', permisosGrupos.grupos?.id, 'view']" >{{ permisosGrupos.grupos?.nombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/permisos-grupos', permisosGrupos.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/permisos-grupos', permisosGrupos.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(permisosGrupos)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
