<div *ngIf="usuarioSeleccionado == undefined">
    <h2 id="page-heading">
        <span jhiTranslate="gestionEmpleadosApp.usuarios.home.title">Usuarios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-usuarios" [routerLink]="['/usuarios/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionEmpleadosApp.usuarios.home.createLabel">
            Create a new Usuarios
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="usuarios?.length === 0">
        <span jhiTranslate="gestionEmpleadosApp.usuarios.home.notFound">No usuarios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="usuarios && usuarios.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="gestionEmpleadosApp.usuarios.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="apellido"><span jhiTranslate="gestionEmpleadosApp.usuarios.apellido">Apellido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaNac"><span jhiTranslate="gestionEmpleadosApp.usuarios.fechaNac">Fecha Nac</span> <fa-icon icon="sort"></fa-icon></th>
                    <!-- <th scope="col"  jhiSortBy="clave"><span jhiTranslate="gestionEmpleadosApp.usuarios.clave">Clave</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"  jhiSortBy="usuario"><span jhiTranslate="gestionEmpleadosApp.usuarios.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado.id"><span jhiTranslate="gestionEmpleadosApp.usuarios.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="direccion.id"><span jhiTranslate="gestionEmpleadosApp.usuarios.direccion">Direccion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contacto.id"><span jhiTranslate="gestionEmpleadosApp.usuarios.contacto">Contacto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuarios of usuarios ;trackBy: trackId">
                    <td><a [routerLink]="['/usuarios', usuarios.id, 'view']">{{ usuarios.id }}</a></td>
                    <td>{{ usuarios.nombre }}</td>
                    <td>{{ usuarios.apellido }}</td>
                    <td>{{ usuarios.fechaNac | date:'mediumDate' }}</td>
                    <!-- <td>{{ usuarios.clave }}</td> -->
                    <td>{{ usuarios.usuario }}</td>
                    <td>
                        <div *ngIf="usuarios.estado">
                            <a [routerLink]="['/estados', usuarios.estado?.id, 'view']" >{{ usuarios.estado?.nombre }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="usuarios.direccion">
                            <a [routerLink]="['/tipo-direccion', usuarios.direccion?.id, 'view']" >{{ usuarios.direccion?.descripcion }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="usuarios.contacto">
                            <a [routerLink]="['/tipo-contactos', usuarios.contacto?.id, 'view']" >{{ usuarios.contacto?.descripcion }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/usuarios', usuarios.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    (click)="editarUsuario(usuarios)"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(usuarios)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="usuarios && usuarios.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>

<div *ngIf="usuarioSeleccionado">
    <div class="row justify-content-center">
        <div class="col-8" *ngIf="formGroup != undefined">
            <form name="editForm" role="form" [formGroup]="formGroup" (ngSubmit)="actualizarUsuario(formGroup.value)">
                <h2 id="jhi-usuarios-heading" jhiTranslate="gestionEmpleadosApp.usuarios.home.createOrEditLabel">Editar un usuario</h2>
    
                <div>
                    
                   <!--  <div class="form-group" [hidden]="!editForm.get('id')!.value">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                    </div> -->
    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.usuario" for="field_usuario">Usuario</label>
                        <input type="text" class="form-control" name="usuario" id="field_usuario"
                               formControlName="usuario" minlength="4" required />
                    </div>
    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.nombre" for="field_nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="field_nombre"
                               formControlName="nombre" minlength="4" required />
                    </div>
    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.apellido" for="field_apellido">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="field_apellido"
                               formControlName="apellido" minlength="4" required />
                    </div>
    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.fechaNac" for="field_fechaNac">Fecha Nac</label>
                        <div class="input-group">
                            <input id="field_fechaNac" type="text" class="form-control" name="fechaNac" autocomplete="off" ngbDatepicker #fechaNacDp="ngbDatepicker" formControlName="fechaNac"/>
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="fechaNacDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                            </span>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.clave" for="field_clave">Clave</label>
                        <input type="password" class="form-control" name="clave" id="field_clave"
                               formControlName="clave" minlength="8" required autocomplete="off" />
                    </div>
    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.estado" for="field_estado">Estado</label>
                        <select class="form-control" id="field_estado" name="estado" formControlName="estado">
                            <option [ngValue]="null"></option>
                            <option value=""></option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.direccion" for="field_direccion">Direccion</label>
                        <select class="form-control" id="field_direccion" name="direccion" formControlName="direccion">
                            <option [ngValue]="null"></option>
                            <option value=""></option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.contacto" for="field_contacto">Contacto</label>
                        <select class="form-control" id="field_contacto" name="contacto" formControlName="contacto">
                            <option [ngValue]="null"></option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
    
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
    
                    <button type="submit" id="save-entity" class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    
</div>
