<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionEmpleadosApp.contactoUsuarios.home.title">Contacto Usuarios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contacto-usuarios" [routerLink]="['/contacto-usuarios/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionEmpleadosApp.contactoUsuarios.home.createLabel">
            Create a new Contacto Usuarios
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contactoUsuarios?.length === 0">
        <span jhiTranslate="gestionEmpleadosApp.contactoUsuarios.home.notFound">No contactoUsuarios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contactoUsuarios && contactoUsuarios.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionEmpleadosApp.contactoUsuarios.nombre">Nombre</span></th>
                    <th scope="col" ><span jhiTranslate="gestionEmpleadosApp.contactoUsuarios.contacto">Contacto</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contactoUsuarios of contactoUsuarios ;trackBy: trackId">
                    <td><a [routerLink]="['/contacto-usuarios', contactoUsuarios.id, 'view']">{{ contactoUsuarios.id }}</a></td>
                    <td>{{ contactoUsuarios.nombre }}</td>
                    <td>
                        <div *ngIf="contactoUsuarios.contacto">
                            <a [routerLink]="['/tipo-contactos', contactoUsuarios.contacto?.id, 'view']" >{{ contactoUsuarios.contacto?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contacto-usuarios', contactoUsuarios.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contacto-usuarios', contactoUsuarios.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contactoUsuarios)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
