<div class="row justify-content-center">
    <div *ngIf="redaccion" class="col-md-6" id="box--sugerencia">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h2 id="title--sugerencia">Redactar una sugerencia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <br>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="form-control-label" for="field_asunto">Asunto</label>
                        <input type="text" class="form-control" name="asunto" id="field_asunto"
                               formControlName="asunto" minlength="4" required />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="field_prioridad">Prioridad</label>
                        <select class="form-control" name="prioridad" id="field_prioridad"
                        formControlName="prioridad">
                          <option>Baja</option>
                          <option>Media</option>
                          <option>Alta</option>
                        </select>  
                    </div>
                </div>

            </div>
                
                <div class="form-group">
                    <label class="form-control-label" for="field_mensaje">Mensaje</label>
                    <textarea class="form-control" name="mensaje" id="field_mensaje"
                    formControlName="mensaje" minlength="4" rows="4" cols="50" required minlength="40" maxlength="600"></textarea>
                </div>

            </div>

            <div class="row justify-content-end">
               <div class="col-md-2">
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
               </div>   
               <div class="col-md-2">
                    <button type="button" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="warning = true ; redaccion = false">
                       <span>Enviar </span> <fa-icon icon="plane"></fa-icon>&nbsp;
                    </button>
               </div>

               
            </div>
        </form>
    </div>

    <div class="col-md-5" *ngIf="warning">

        <div class="box--warning">
            <h2 id="title--sugerencia">Atención!</h2>
            <br>
            <span id="text--sugerencia">Al enviar una sugerencia su información puede ser vista por una persona de RRHH o Administrador</span>
            <br>
            <span id="text--sugerencia">Revise y esté seguro de su ortografía y contenido del mensaje para evitar inconvenientes en el futuro</span>

            <button type="button" id="cancel-save" class="btn btn-dark" (click)="warning = false ; redaccion = true" >
                <span>Cancelar y revisar mi sugerencia</span>
             </button>


            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="save()">
                <span>Estoy seguro y deseo enviar mi sugerencia </span> <fa-icon icon="plane"></fa-icon>&nbsp;
             </button>

        </div>

    </div>

    <div *ngIf="success" class="col-md-5">
        <h2 id="title--sugerencia">Sugerencia enviada con éxito</h2>
        <img id="img--check" src="../../../../../proyecto-imagenes/check.png" alt="">

    </div>
