<div class="row">
    <div class="parallax" style="height: 80vh;">
        <div class="fondo-efecto" style="height: 80vh;">
        <div class="row">
            
        
            <div class="col-md-6 offset-md-1 text-panel">
                <h1>Gestion de Empleados</h1>
                <h2>Llego la aplicación web que te va a facilitar la administración de tu empresa, <br>
                    contamos con las ultimas tecnologias que permite mantener a tus empleados <br>
                    informados y comunicados entre si. 
                </h2>
            </div>
            
        </div>
        
            <h5 class="text-panel-footer">Registrate ahora para empezar a disfrutar de nuestros servicios de manera gratuita. </h5>

        </div>

    </div>

    <div class="col-md-10 offset-md-1">

    <div class="row">

    <div class="col-md-4 col-home">
        <div class="row">
            <div class="col-md-3">
            <i class="fas fa-users" style="font-size: 50px;"></i>
            </div>    
            <div class="col-md-9">
            <h5>Empleados</h5>
            </div>
            <p class="text-home" style="margin-left: 30px;">Mantenga a sus Empleados informados.</p>
        </div>
    </div>
    
    <div class="col-md-4 col-home">
        <div class="row">
            <div class="col-md-3">
            <i class="far fa-building" style="font-size: 50px;"></i>
            </div>    
            <div class="col-md-9">
            <h5>Empresas</h5>
            </div>
            <p class="text-home" style="margin-left: 30px;">Administrar de manera simple y segura.</p>
        </div>
    </div>
    
    <div class="col-md-4 col-home">
        <div class="row">
            <div class="col-md-3">
            <img src="../../../../proyecto-imagenes/webcam.png" alt="icon-cam" style="width: 50px; height: 50px;">
            </div>    
            <div class="col-md-9">
            <h5>¡Sistema de fichaje por webcam!</h5>
            </div>
            <p class="text-home" style="margin-left: 70px;">Sonrie, lo estamos filmando! 😄</p>
        </div>
    </div>

    <div class="col-md-4 col-home">
        <div class="row">
            <div class="col-md-3">
            <i class="far fa-sticky-note" style="font-size: 50px;"></i>
            </div>    
            <div class="col-md-9">
            <h5>Sugerencias</h5>
            </div>
            <p class="text-home">Sección de sugerencias para posibles implementaciones</p>
        </div>
    </div>
    
    <div class="col-md-4 col-home">
        <div class="row">
            <div class="col-md-3">
            <i class="fas fa-map-marker-alt" style="font-size: 50px;"></i>
            </div>    
            <div class="col-md-9">
            <h5>Localización</h5>
            </div>
            <p class="text-home">Consulta las ubicaciones de todas las sucursales.</p>
        </div>
    </div>
    
    <div class="col-md-4 col-home">
        <div class="row">
            <div class="col-md-3">
            <i class="far fa-clock" style="font-size: 50px;"></i>
            </div>    
            <div class="col-md-9">
            <h5>Control de Horarios</h5>
            </div>
            <p class="text-home" style="margin-left: 70px;">Gestiona los horarios de tus jornadas</p>
        </div>
    </div>

</div>  


<div>
    <button class="btn btn-primary"  onclick="prueba()">Ejecutar reconocimiento</button>
</div>

</div>
<div style="height: 500px;"></div>
</div>