<div class="row">
    
    <div class="parallax"></div>

    <div class="col-md-4">
        <i class="fas fa-users" style="font-size: 100px;"></i>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odio ab pariatur maiores neque deserunt numquam aut deleniti iusto quidem recusandae debitis, suscipit excepturi voluptatum dolorem beatae dolores eos iste?
    </div>
    
    <div class="col-md-4">
        <i class="far fa-building" style="font-size: 100px; ;"></i>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis consectetur asperiores quis inventore deserunt rerum ducimus ex et tempora porro ad accusamus, architecto enim sunt temporibus iste minus quo consequatur.
    </div>
    
    <div class="col-md-4" style="height: 2000px;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit maxime nostrum reiciendis minus, at officia sit quibusdam dolore eveniet, dolores veniam iure rerum, unde ad doloremque eius est. Omnis, et.
    </div>

</div>