<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-empleados-heading" jhiTranslate="gestionEmpleadosApp.empleados.home.createOrEditLabel">Create or edit a Empleados</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.fechaIngreso" for="field_fechaIngreso">Fecha Ingreso</label>
                    <div class="input-group">
                        <input id="field_fechaIngreso" type="text" class="form-control" name="fechaIngreso" ngbDatepicker #fechaIngresoDp="ngbDatepicker" formControlName="fechaIngreso"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaIngresoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.jefe" for="field_jefe">Jefe</label>
                    <select class="form-control" id="field_jefe" name="jefe" formControlName="jefe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empleadosOption.id === editForm.get('jefe')!.value?.id ? editForm.get('jefe')!.value : empleadosOption" *ngFor="let empleadosOption of empleadosCollection; trackBy: trackById">{{ empleadosOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.usuario" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" formControlName="usuario">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuariosOption.id === editForm.get('usuario')!.value?.id ? editForm.get('usuario')!.value : usuariosOption" *ngFor="let usuariosOption of usuarios; trackBy: trackById">{{ usuariosOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.estado" for="field_estado">Estado</label>
                    <select class="form-control" id="field_estado" name="estado" formControlName="estado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estadosOption.id === editForm.get('estado')!.value?.id ? editForm.get('estado')!.value : estadosOption" *ngFor="let estadosOption of estados; trackBy: trackById">{{ estadosOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.area" for="field_area">Area</label>
                    <select class="form-control" id="field_area" name="area" formControlName="area">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="areasOption.id === editForm.get('area')!.value?.id ? editForm.get('area')!.value : areasOption" *ngFor="let areasOption of areas; trackBy: trackById">{{ areasOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.puesto" for="field_puesto">Puesto</label>
                    <select class="form-control" id="field_puesto" name="puesto" formControlName="puesto">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="puestosOption.id === editForm.get('puesto')!.value?.id ? editForm.get('puesto')!.value : puestosOption" *ngFor="let puestosOption of puestos; trackBy: trackById">{{ puestosOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.fichaje" for="field_fichaje">Fichaje</label>
                    <select class="form-control" id="field_fichaje" name="fichaje" formControlName="fichaje">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fichajesOption.id === editForm.get('fichaje')!.value?.id ? editForm.get('fichaje')!.value : fichajesOption" *ngFor="let fichajesOption of fichajes; trackBy: trackById">{{ fichajesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresa">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresasOption.id === editForm.get('empresa')!.value?.id ? editForm.get('empresa')!.value : empresasOption" *ngFor="let empresasOption of empresas; trackBy: trackById">{{ empresasOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
