<div class="row justify-content-center">
    <div class="col-8">
        <form name="empleadoForm" role="form" novalidate (ngSubmit)="actualizarEmpleado(empleadoForm.value)" [formGroup]="empleadoForm">
            <h2 id="jhi-empleados-heading" jhiTranslate="gestionEmpleadosApp.empleados.home.createOrEditLabel">Create or
                edit a Empleados</h2>

            <div>
                
                <h3 jhiTranslate="gestionEmpleadosApp.empleados.datosEmpleado">Datos del Empleado</h3>
                <jhi-alert></jhi-alert>
                <div class="form-group" [hidden]="!empleadoForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.fechaIngreso"
                        for="field_fechaIngreso">Fecha Ingreso</label>
                    <div class="input-group">
                        <input id="field_fechaIngreso" type="text" class="form-control" name="fechaIngreso"
                            ngbDatepicker #fechaIngresoDp="ngbDatepicker" formControlName="fechaIngreso" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaIngresoDp.toggle()">
                                <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>
        <!-- Datos del usuario-->
      
            <div>
                <!-- <div class="form-group" [hidden]="!empleadoForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.usuario"
                        for="field_usuario">Usuario</label>
                    <input type="text" class="form-control" name="usuario" id="field_usuario" formControlName="usuario" value="asd"
                        minlength="4" required />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.nombre"
                        for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre" formControlName="nombre"
                        minlength="4" required />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.apellido"
                        for="field_apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="field_apellido"
                        formControlName="apellido" minlength="4" required />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.fechaNac"
                        for="field_fechaNac">Fecha Nac</label>
                    <div class="input-group">
                        <input id="field_fechaNac" type="text" class="form-control" name="fechaNac" autocomplete="off"
                            ngbDatepicker #fechaNacDp="ngbDatepicker" formControlName="fechaNac" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaNacDp.toggle()">
                                <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group" *jhiHasAnyAuthority="'ROLE_USER'" >
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.clave"
                        for="field_clave">Clave</label>
                    <input type="password" class="form-control" name="clave" id="field_clave" formControlName="clave"
                        minlength="8" required autocomplete="off" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.usuarios.estado"
                        for="field_estado">Estado</label>
                    <select class="form-control" id="field_estado" name="estado" formControlName="estado" value="empleadoSeleccionado.usuario.estado.nombre">  
                      <option *ngFor="let estadosOption of estados; trackBy: trackById">{{ estadosOption.nombre }}</option>
                    </select>
                </div>
        

        <!-- CONTACTO -->

        <h3 jhiTranslate="gestionEmpleadosApp.empleados.contacto">Contacto</h3>
       

            <div>
                <jhi-alert-error></jhi-alert-error>
                <!-- Formulario para entidad de documento -->
                <!-- <div class="form-group" [hidden]="!empleadoForm.get('id')!.value">
                    <label for="idTipoDocumento" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="idTipoDocumento" name="idTipoDocumento"
                        formControlName="id" readonly />
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.tipoContactos.tipoDocumento"
                        for="field_tipoDocumentos">Tipo Documento</label>
                    <select class="form-control" #tipoDoc name="tipoDocumentos"
                        required formControlName="tipoDocumento">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let tipoDocumentosOption of tipodocumentos;" [ngValue]="tipoDocumentosOption">
                            {{ tipoDocumentosOption.tipo }}</option>
                    </select>

                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.tipoContactos.documento"
                        for="field_valor">Documento</label>
                    <input type="number" class="form-control" name="valorDocumento" id="field_valor"
                        maxlength="250" required />
                </div>


            </div>


        <!--FIN CONTACTO-->

        <!-- DIRECCIONES -->
        <hr>
            <h3 jhiTranslate="gestionEmpleadosApp.empleados.direccion">Direccion</h3>
            <div class="row">
              <div class="col-6">
                <!-- Formulario para entidad de pais -->
               
                  <div class="form-group" *ngIf="paises !== undefined" >
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.paises.value"
                      for="field_nombre_pais">Pais</label>
                     
                    <select class="form-control" formControlName="pais" name="pais" [(ngModel)]="modelName" (change)="setProvincias()">
                      <option *ngFor="let country of paises" [ngValue]="country.nombre">{{country.nombre}}</option>
                    </select>
                  </div>
              </div>
    
              <div class="col-6">
                
                
    
                  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.provincias.value"
                      for="field_nombre_provincia">Provincia</label>
    
                    <select class="form-control" #provSel *ngIf="provincias" formControlName="provicia">
                      <option *ngFor="let prov of provincias" [ngValue]="prov.id">{{prov.nombre}}</option>
                    </select>
    
                  </div>
              
              </div>
              <div class="col-4">
                <!-- Formulario para entidad de ciudad -->
               
                  <div class="form-group" [hidden]="!empleadoForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id_ciudad" name="id" formControlName="id" readonly required />
                  </div>
    
                  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.ciudades.value"
                      for="field_nombre_ciudad">Ciudad</label>
    
                       <select class="form-control" #city *ngIf="ciudades"  required>
                        <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad">{{ciudad.nombre}}</option>
                      </select> 
                  </div>
     
              </div>
    
    
              <!-- Formulario para entidad de direcciones -->
              
              <div class="col-4">
               
                  <jhi-alert-error></jhi-alert-error>
    
                  <div class="form-group" [hidden]="!empleadoForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id_direcciones" name="id" formControlName="id" readonly required />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.calle"
                      for="field_calle">Calle</label>
                    <input type="text" class="form-control" name="calle" id="field_calle" formControlName="calle"
                      minlength="4" required />
                  </div>

              </div>
    
              <div class="col-4">
                <div class="form-group">
                  <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.altura"
                    for="field_altura">Altura</label>
                  <input type="number" #altura class="form-control" name="altura" id="field_altura" formControlName="altura" min="1"
                     required />
                </div>

              </div>
    
              <div class="col-2">
              
                <div class="form-group">
                  <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.piso"
                    for="field_piso">Piso</label>
                  <input type="number" class="form-control" #piso name="piso" id="field_piso" formControlName="piso" min="1" required/>
                </div>
         
              </div>
    
              <div class="col-10">
               
                <div class="form-group">
                  <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.departamento"
                    for="field_departamento">Departamento</label>
                  <input type="text" #depto class="form-control" name="departamento" id="field_departamento"
                    formControlName="departamento" required  />
                </div>
  
              </div>
    

        <!-- FIN DIRECCIONES -->


        <!-- Fin de datos del usuario-->
        <hr>
        
        <h3 jhiTranslate="gestionEmpleadosApp.empleados.jerarquia">Jerarquia</h3>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.jefe"
                    for="field_jefe">Jefe</label>
                <select class="form-control" id="field_jefe" name="jefe" formControlName="jefe">
                    <option [ngValue]="null"></option>
                    <option
                        [ngValue]="empleadosOption.id === empleadoForm.get('jefe')!.value?.id ? empleadoForm.get('jefe')!.value : empleadosOption"
                        *ngFor="let empleadosOption of empleadosCollection; trackBy: trackById">
                        {{ empleadosOption.usuario?.nombre }}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.area"
                    for="field_area">Area</label>
                <select class="form-control" id="field_area" name="area" formControlName="area">
                    <option [ngValue]="null"></option>
                    <option
                        [ngValue]="areasOption.id === empleadoForm.get('area')!.value?.id ? empleadoForm.get('area')!.value : areasOption"
                        *ngFor="let areasOption of areas; trackBy: trackById">{{ areasOption.nombre }}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.empleados.puesto"
                    for="field_puesto">Puesto</label>
                <select class="form-control" id="field_puesto" name="puesto" formControlName="puesto">
                    <option [ngValue]="null"></option>
                    <option
                        [ngValue]="puestosOption.id === empleadoForm.get('puesto')!.value?.id ? empleadoForm.get('puesto')!.value : puestosOption"
                        *ngFor="let puestosOption of puestos; trackBy: trackById">{{ puestosOption.nombre }}</option>
                </select>
            </div>


            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="empleadoForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
            
    </div>
</div>