<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="empleados">
            <h2><span jhiTranslate="gestionEmpleadosApp.empleados.detail.title">Empleados</span> {{ empleados.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEmpleadosApp.empleados.fechaIngreso">Fecha Ingreso</span></dt>
                <dd>
                    <span>{{ empleados.fechaIngreso }}</span>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.empleados.jefe">Jefe</span></dt>
                <dd>
                    <div *ngIf="empleados.jefe">
                        <a [routerLink]="['/empleados', empleados.jefe?.id, 'view']">{{ empleados.jefe?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.empleados.usuario">Usuario</span></dt>
                <dd>
                    <div *ngIf="empleados.usuario">
                        <a [routerLink]="['/usuarios', empleados.usuario?.id, 'view']">{{ empleados.usuario?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.empleados.estado">Estado</span></dt>
                <dd>
                    <div *ngIf="empleados.estado">
                        <a [routerLink]="['/estados', empleados.estado?.id, 'view']">{{ empleados.estado?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.empleados.area">Area</span></dt>
                <dd>
                    <div *ngIf="empleados.area">
                        <a [routerLink]="['/areas', empleados.area?.id, 'view']">{{ empleados.area?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.empleados.puesto">Puesto</span></dt>
                <dd>
                    <div *ngIf="empleados.puesto">
                        <a [routerLink]="['/puestos', empleados.puesto?.id, 'view']">{{ empleados.puesto?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.empleados.fichaje">Fichaje</span></dt>
                <dd>
                    <div *ngIf="empleados.fichaje">
                        <a [routerLink]="['/fichajes', empleados.fichaje?.id, 'view']">{{ empleados.fichaje?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionEmpleadosApp.empleados.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="empleados.empresa">
                        <a [routerLink]="['/empresas', empleados.empresa?.id, 'view']">{{ empleados.empresa?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/empleados', empleados.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
