<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-entidades-empresas-heading" jhiTranslate="gestionEmpleadosApp.entidadesEmpresas.home.createOrEditLabel">Create or edit a Entidades Empresas</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.entidadesEmpresas.valor" for="field_valor">Valor</label>
                    <input type="text" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.entidadesEmpresas.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresa">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresasOption.id === editForm.get('empresa')!.value?.id ? editForm.get('empresa')!.value : empresasOption" *ngFor="let empresasOption of empresas; trackBy: trackById">{{ empresasOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.entidadesEmpresas.entidad" for="field_entidad">Entidad</label>
                    <select class="form-control" id="field_entidad" name="entidad" formControlName="entidad">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="entidadesOption.id === editForm.get('entidad')!.value?.id ? editForm.get('entidad')!.value : entidadesOption" *ngFor="let entidadesOption of entidades; trackBy: trackById">{{ entidadesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
