<div class="container" id="atencion-box">
    <h2 id="titulo-box">Atención!</h2>
    <p id="subtitulo-box">Tenga en cuenta los siguientes consejos para una mejor experiencia</p>
    <div id="consejos">
        <ol id="items-consejos">
            <li>Trate de encontrar un lugar con buena iluminación</li>
            <li>Evite tener la luz natural o articial detrás de usted</li>
            <li>Descubra su rostro, evite usar gorros, lentes de sol y cubrebocas</li>
            <li>Sonría 😄</li>
        </ol>
    </div>
    <div>
        <button class="btn btn-primary" id="btn-entendido">Entendido <fa-icon icon="check" [fixedWidth]="true"></fa-icon></button>
    </div>
</div> 