::ng-deep :root {
  --color-atencion: #ffbf69;
  --color-exito: #00a47c;
  --color-error: #d96465;
}

#atencion-box {
  border: 1.5px solid;
  border-color: var(--color-atencion);
  animation: fadein 0.7s;
}

#titulo-box,
#subtitulo-box,
#items-consejos {
  text-align: center;
  margin-top: 2%;
  font-family: 'Alata', sans-serif;
  color: #212529;
}

#titulo-box {
  font-size: 50px;
}
#subtitulo-box {
  font-size: 18px;
}

#btn-entendido {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 20%;
  border-radius: 50px;
}

#btn-entendido:hover {
  border-color: #40916c;
  background-color: #40916c;

  box-shadow: inset 0 0 0 0 #0bf;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

#confirmacion-box {
  animation: fadein 0.7s;
  border: 2px solid;
  border-color: var(--color-exito);
}

#error-box {
  animation: fadein 0.7s;
  border: 2px solid;
  border-color: var(--color-error);
}

#img-box {
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
}

#spinner {
  height: 100px;
  width: 100px;
}

#nombre-cuenta {
  font-weight: bold;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
