<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-direcciones-heading" jhiTranslate="gestionEmpleadosApp.direcciones.home.createOrEditLabel">Create or edit a Direcciones</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.calle" for="field_calle">Calle</label>
                    <input type="text" class="form-control" name="calle" id="field_calle"
                           formControlName="calle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.altura" for="field_altura">Altura</label>
                    <input type="number" class="form-control" name="altura" id="field_altura"
                           formControlName="altura"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.piso" for="field_piso">Piso</label>
                    <input type="number" class="form-control" name="piso" id="field_piso"
                           formControlName="piso"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.departamento" for="field_departamento">Departamento</label>
                    <input type="text" class="form-control" name="departamento" id="field_departamento"
                           formControlName="departamento"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionEmpleadosApp.direcciones.ciudad" for="field_ciudad">Ciudad</label>
                    <select class="form-control" id="field_ciudad" name="ciudad" formControlName="ciudad">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ciudadesOption.id === editForm.get('ciudad')!.value?.id ? editForm.get('ciudad')!.value : ciudadesOption" *ngFor="let ciudadesOption of ciudades; trackBy: trackById">{{ ciudadesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
